*{
    font-family: "Kumbh Sans", sans-serif;
}

body{
    background-color: #19A1AE;
    margin: 0 auto;
}

.background-circles{
    position:relative;
    overflow:hidden;
    width: 100%;
    height: 100vh;
}

.circles{
    width:978px;
    height:976px;
    margin:0;
    border-radius: 50%;
    background: linear-gradient(
        to right, 
        rgba(9, 137, 180, 0.25) 0%, 
        rgba(83, 255, 238, 0.25) 100%
        );
    position:absolute;
}

.circles:first-child {
    top: -400px;
    left: -350px;
}

.circles:last-child{
    bottom: -400px;
    right: -350px;
}

.profile-card{
    width:350px;
    height:374px;
    background-color:white;
    border-radius:15px;
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.overlay{
    width:100%;
    height:144px;
    background-color: #41CBD3;
    overflow: clip;
}


.profile-image{
    width:96px;
    height:96px;
    border-radius:50%;
    position:absolute;
    top:144px;
    left:50%;
    transform: translate(-50%,-50%);
}

.information{
    display:flex;
    margin-top:50px;
    align-items: center;
    justify-content: center;
}
.profile-name{
    font-size: 18px;
    font-weight: 700;
    color:#2E3349;
    padding-right: 5px;
}

.age {
    color:#6B7082;
    font-size:18px;
}

.country{
    display:block;
    color:#6B7082;
    font-size:14px;
    text-align: center;
} 

.profile-stats{
    margin-top:24px;
    border-top:1px solid #E8E9EC;
}

.stat-info{
    padding-top: 24px;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.stat-item{
    display: flex;
    flex-direction: column;
    align-items:center;
    gap:8px;
}

.stat-item h5{
    color:#2E3349;
    font-size:18px;
    font-weight: 700;
    margin:0;
}

.stat-item .stat-name{
    color:#6B7082;
    font-size:10px;

}

footer{
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.homework {
    border-radius: 10px;
    background-color: white;
    border: 1px solid white;
    padding:10px;
    transition: ease-out 0.3s;
    margin:20px;
}

.homework a{
    font-size: 16px;
    color:#19A1AE;
    text-decoration: none;
}


.homework:hover{
    background-color: #19A1AE;
}

.homework a:hover{
    color:white;
}