* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Plus Jakarta Sans", sans-serif;
  background: linear-gradient(45deg, #FFFFFF 0%, #F5F6FF 50%, #F0F1FF 100%);
}

.container {
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
  padding: 0 24px;
}

.hero-wrapper {
  position: relative;
  overflow-x: hidden;
}

nav{
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding:24px 0;
}

a{
  font-size: 18px;
}

.navbtn {
  border-radius:28px;
  padding:16px 32px;
  background-color: #13183F;
  color:white;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border:none;  

}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 0;
}


.hero-side {
  position: relative;
  width: 500px;
  height: 600px;
}

.bg-shape {
  position: absolute;
  width: 320px;
  height: 1008px;
  right: -245px;
  top: -355px;
  transform: rotate(45deg);
  border-radius: 160px;
  background: linear-gradient(-45deg,#4851FF,#F02AA6);
}

.image-circle {
  position: absolute;
  width: 320px;
  height: 560px;
  right: 40px;
  top: 60px;
  border-radius: 160px;
  background: linear-gradient(#FF6F48,#F02AA6);
  overflow: hidden;
}

.image-circle img {
  width: 100%;
  height: auto;
  position: relative;
  top: 80px;
}

.hero-info{
  width:544px;
  height: 339px;
  display: flex;
  flex-direction: column;
  gap:24px;
}
  
.hero h1{
  color:#13183F;
  font-size: 56px;
  font-weight:800;
}

.hero p{
  color:#83869A;
  font-size:18px;
  font-weight:500;
}

.hero-btn {
  margin-top:16px;
  width:168px;
  border-radius:28px;
  padding:16px 32px;
  background:linear-gradient(#FF6F48 0%, #F02AA6 100%);
  color:white;
  font-size:18px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border:none;
  text-decoration: none;
}

.info-box-hours{
  width:199px;
  height:120px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 34px 54px 0 rgba(6,22, 141, 15.89%);
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
  position: absolute;
  bottom: 120px;
  left: 0;
}


.info-box-members{
  width:155px;
  height:120px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 34px 54px 0 rgba(6,22, 141, 15.89%);
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
  position: absolute;
  top: 140px;
  right: -40px;
}

.info-name{
  font-size:16px;
  font-weight:700;
  color:#83869A;
}

.info-result{
  color:#13183F;
  font-size:40px;
  font-weight:800;

}

.cards{
  display:flex;
  gap:32px;
  flex-wrap: wrap;
}

.card-item:first-child{
  width: 352px;
  height:322px;
  background:linear-gradient(#FF6F48 0%, #F02AA6 100%);
  padding:64px 32px 40px 32px;
  border-radius: 15px;
}

.card-item:first-child h2 {
    font-size: 32px;
    font-weight: 800;
    color: white;
}

.card-item{
  flex: 1 1 calc(33.333% - 32px);
  width: 352px;
  height:322px;
  background-color: white;
  padding:64px 32px 0 32px;
  border-radius: 15px;
  position: relative;
  margin-top:64px;
}

.card-item h2{
  font-size:24px;
  font-weight:800;
  color:#13183F;
}

.card-item p{
  font-size:18px;
  font-weight:500;
  color:#83869A;
  margin:24px 0;
}

.card-item button{
  background-color: transparent;
  border:none;
  font-size:18px;
  font-weight:700;
  color:#F74780;

}

.text-box{
  height: 113px;
}

.icon{
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: linear-gradient(#FF6F48 0%, #F02AA6 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  transform: translateY(-92px);
}

footer{
  margin-top:144px;
  background-color: #13183F;
  height:107px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-info{
  display: flex;
  justify-content: space-between;
  width: 1120px;
  align-items: center;
  padding:0 30px;
}

.footer-logo{
  width:111px;
  
}

.footer-btn {
  margin-top:16px;
  width:168px;
  border-radius:28px;
  padding:16px 32px;
  background:linear-gradient(#4851FF 0%, #F02AA6 100%);
  color:white;
  font-size:18px;
  font-weight: 700;
  border:none;
  text-decoration: none;
}